@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*Fira Sans/serif */

*{
  margin: 0;
  padding: 0;
}

#Navigation{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    margin-top: 24px;
    margin-left: 160px;
    margin-right: 160px;

}
.title {

    color: #0E0E0E;
        font-family: "Fira Sans";
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
}

.btn{
    border-radius: 8px;
    border: 1px solid #006A50;
    display: flex;
    padding: 12px 25px;
    justify-content: center;
    align-items: center;
    gap: 48px;
        color: #006A50;
        font-family: "Fira Sans";
        font-size: 18px;
        font-weight: 600;      
}

#banner{
    
    margin: auto;
    height:auto;
    width: 1280px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background: #C6E4D6;
    padding: 50px 20px;
    margin-bottom: 80px;
}

.bdiv{
    width: 640px;
   
}

.bp{
    color: rgba(14, 14, 14, 0.50);
        font-family: "Fira Sans";
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 24px;
}
.bt{
    color: #0E0E0E;
        font-family: "Fira Sans";
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 24px;
}

.btnB{
    display: flex;
    padding: 17px 34px;
    justify-content: center;
    align-items: center;
   
    border-radius: 8px;
    background: #006A50;
    color: #FFF;
    font-family: "Fira Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    outline: none;
    border: none;
}

.imghero{
    height: 300px;
    width: 350px;
}
.heading{
    color: #0E0E0E;
        font-family: "Fira Sans";
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}
#piller{
    margin: auto;
    height: auto;
    width: 1280px;
}
.cardDivs{
    margin-top: 32px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    gap: 20px;

}
.card{
    display: flex;
    width: 302px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: #FFF;
}

.vision{
        margin: auto;
        height: auto;
        width: 1280px;
}

    .cparagraph{
            color: rgba(14, 14, 14, 0.70);
            font-family: "Fira Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            
    }

#head1{
    margin-bottom: 24px;
}
.pdiv{

    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.bcard {
        display: flex;
        padding: 28px;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        flex: 1 0 0;
        height: 260px;
} 
h3{
    color: rgba(14, 14, 14, 0.80);
        font-family: "Fira Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}

#bcard1{
    border-radius: 16px;
        border: 0px solid #5490F5;
        background: rgba(84, 144, 245, 0.20);
}
#bcard2{
    border-radius: 16px;
    border: 0px solid #09A15C;
    background: #C6E4D6;
}
#bcard3{
        border-radius: 16px;
        border: 0px solid #FFC239;
        background: #F7EBCF;
}

.cardbtn{
    display: flex;
        padding: 11px 20px;
        justify-content: center;
        align-items: center;
        gap: 48px;
        color: #FFF;
            font-family: "Fira Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            outline: none;
            border-radius: 8px;
            border: none;
            margin-top: auto;
}

#b1{
    background: #5490F5;
}
#b2{
    background: #09A15C;
}
#b3{
    background: #FFC239;
}
.section{
    margin: auto;
    height: auto;
    width: 1280px;
}

.younus{
    display: flex;
    padding: 48px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: #FFF;
    margin: auto;
    height: auto;
    width: 1280px;
    margin-bottom: 80px;
       
}

.ydiv{
    background-image: url(/assets/quote-bg.png);
    background-repeat: no-repeat;
   
}
#y{
   
    margin-top: 24px;
    margin-bottom: 16px;
}

#opinion{
        margin: auto;
        height: auto;
        
}



table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    margin-top: 24px;
    margin-bottom: 80px;
}

th {
    background-color: #d4e8d4;
    padding: 24px;
    text-align: left;
    font-weight: 600;
    font-family: "Fira Sans";
    font-size: 20px;
}

td {
    width: 100%;
    padding: 24px;
    border: 1px solid #ddd;
    font-family: "Fira Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    
}

.tablebtn{
    display: flex;
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid #0E0E0E;
    background: #C6E4D6;
    font-family: "Fira Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
}
.btntd{
    display: flex;
        width: 200px;
        padding: 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
       
        
}

#recent{
    margin-top: 24px;
    margin-bottom: 24px;
}

.parentdiv{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.childdiv{
            display: flex;
            flex-direction: row-reverse;
            padding: 48px;
            align-items: center;
            gap: 32px;
            align-self: stretch;
            border-radius: 24px;
            background: #F1F1F3;
            
}

.childdiv2 {
    display: flex;
   
    padding: 48px;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    border-radius: 24px;
    background: #F1F1F3;

}
.time{
    display: flex;
    gap:12px;
    margin-top: 12px;
    margin-bottom: 16px;
}
.recentimg{
    width: 408px;
    height: 306px;
    border-radius: 8px;
}
.ptn{
    margin-top: 24px;
    display: flex;
    padding: 13px 26px;
    justify-content: center;
    align-items: center;
    gap: 48px;
    border-radius: 8px;
    background: #006A50;
    color: #FFF;
        font-family: "Fira Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    
}

Button:hover{
    transform: scale(1.1);
}

.donatediv{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    margin-top: 80px;
    background: #F1F1F3;
    border-radius: 24px;
    padding-top: 36px;
    padding-bottom: 24px;
    margin-bottom: 80px;
}
#p2{
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(14, 14, 14, 0.70);
        text-align: center;
        font-family: "Fira Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
}

.mainTaka{
    display: flex;
    gap: 10px;
    margin-bottom: 36px;
}

.taka{
        display: flex;
        padding: 40px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        gap: 36px;
        border-radius: 16px;
        border: 1px solid rgba(14, 14, 14, 0.15);
        background: #FFF;
        color: rgba(14, 14, 14, 0.80);
        font-family: "Fira Sans";
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}   

.taka2{
    background-color: #C6E4D6;;
    display: flex;
        padding: 40px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        gap: 36px;
        border-radius: 16px;
        border: 1px solid rgba(14, 14, 14, 0.15);
        color: rgba(14, 14, 14, 0.80);
        font-family: "Fira Sans";
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}


 .in{
    width: 70%;
    display: flex;
        padding: 20px 40px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 24px;
            background: #FFF;
            color: rgba(14, 14, 14, 0.30);
                font-family: "Fira Sans";
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-align: center;
                border: none;
                border-radius: 8px;
                margin-bottom: auto;
 }


 
 


        .signup-box {
            background-color: #d4e8d4;
            padding-top: 80px;
            padding-bottom: 80px;
            text-align: center;
            border-radius: 10px;
            width: 100%;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            font-family:  sans-serif;
            margin-bottom: 80px;
        }
    
        .signup-title {
            color: #0E0E0E;
            text-align: center;
            font-family: "Fira Sans";
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 16px;
        }
    
        
    
        .form-group {
            margin-top: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin-bottom: 36px;
            
        }
    
        .email-input {
            display: flex;
            width: 600px;
            padding: 20px 50px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 24px;
            border-radius: 8px 0px 0px 8px;
            background: #FFF;
            border: none;
            font-family: sans-serif;
            color: rgba(14, 14, 14, 0.30);
                font-family: "Fira Sans";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
        }
    
        .subscribe-btn {
                display: flex;
                padding: 18px 34px;
                justify-content: center;
                align-items: center;
                gap: 48px;
                border-radius: 0px 8px 8px 0px;
                background: #006A50;
                color: #FFF;
                font-family: "Fira Sans";
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                border: none;
                transform: translateX(-20px);
            
        }
    
        .note-text {
            font-size: 12px;
            color: #666;
            margin-top: 10px;
        }


        .foot{
                display: flex;
                padding: 50px 160px;
                flex-direction: column;
                align-items: center;
                gap: 32px;
                align-self: stretch;
                text-align: center;
                background-color: #F1F1F3
        }
        hr{
            margin-top: 36px;
            margin-bottom: 24px;
            width: 1122px;
            height: 1px;
            background: rgba(14, 14, 14, 0.10);
        }

        .content{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;
        }


 







